<!DOCTYPE html>
<html>
    <head>
        <title>YAXM Tiny Wheel</title>
    </head>
    <body>
        <h1>Welcome to YAXM Tiny Wheel</h1>
        <iframe src="https://wheeldecide.com/e.php?c1=Area%20between%20Frack%20%26%20Turbine&c2=Factory&c3=New%20Spots&c4=Rivertown&c5=Big%20Estates&c6=Array&c7=Asylum&c8=Cargo%20Docks&c9=8%20Houses%20Below%20Construction%20Site&c10=Train%20Station&c11=Mall%20by%20Nuketown&c12=Firing%20Range&c13=Turbine&c14=Little%20Estates&c15=Gazebo&c16=Hydro%20Dam&c17=Fracking%20Tower&c18=Graveyard&c19=Construction%20Site&c20=Mall%20by%20Firing%20Range&c21=Diner&c22=Highjacked&c23=Barn%20Between%20Firing%20Range%20and%20Frack&c24=Buildings%20by%20Hydro%20Dam&c25=Lighthouse%20&c26=Peninsula&c27=Nuketown&c28=Ghost%20Town&c29=Jungle&c30=Old%20Spots&col=gbblackp&t=Tiny%20Wheel%203.0%20No%20Repeats&time=7&remove=1" width="500" height="500" scrolling="no" frameborder="0"></iframe>
    </body>
</html>